 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --very-light-blue: #eaedf0;
    --jade: #218e98;
    --gray: #919191;
    --bluey-grey: #8697a8;
    --slate: #44566c;
}

#Zilon {
    padding-top : 100px;
    width : 100%;
}
#Zilon .container {
    display: flex;
    flex-wrap: wrap !important;
}

#Zilon .container::before, .container::after {
    content: '';
    width: 100%;
    order: 1;
}

#Zilon .row {
    flex-direction: row;
}

#Zilon .column {
    flex-direction: column;
}

#Zilon .justify-content-center {
    justify-content: center;
}

#Zilon .item-1 {
    flex-grow: 1;
}

#Zilon .item-2 {
    flex-grow: 2;
}

#Zilon .item-3 {
    flex-grow: 3;
}

#Zilon .item-4 {
    flex-grow: 4;
}

#Zilon .item-5 {
    flex-grow: 5;
}

#Zilon .item-6 {
    flex-grow: 6;
}

#Zilon .item-7 {
    flex-grow: 7;
}

#Zilon .item-8 {
    flex-grow: 8;
}

#Zilon .item-9 {
    flex-grow: 9;
}

#Zilon .item-10 {
    flex-grow: 10;
}

#Zilon .item-11 {
    flex-grow: 10;
}

#Zilon .item-12 {
    flex-grow: 10;
}

#Zilon .d-block {
    display: block;
}

#Zilon .d-flex {
    display: flex;
}

#Zilon .w-auto {
    width: auto !important;
}

#Zilon .w-100 {
    width: 100% !important;
}

#Zilon .h-100 {
    height: 100%;
}

#Zilon .text-center {
    text-align: center !important;
}

#Zilon .text-left {
    text-align: left !important;
}

#Zilon .text-right {
    text-align: right !important;
}

#Zilon a {
    text-decoration: none;
    color: inherit !important;
}

#Zilon .w-50 {
    width: 50% !important;
}

#Zilon .w-60 {
    width: 60% !important;
}

#Zilon .w-10 {
    width: 10% !important;
}

#Zilon .w-20 {
    width: 20% !important;
}

#Zilon .w-90 {
    width: 90% !important;
}

#Zilon .w-80 {
    width: 80% !important;
}

#Zilon .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#Zilon .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

#Zilon .float-right {
    float: right !important;
}

#Zilon .float-left {
    float: left !important;
}

#Zilon .p-relative {
    position: relative;
}

#Zilon .child-v-h-center {
}

#Zilon .card {
    border-radius: 4px;
    border: solid 1px var(--very-light-blue);
    background-color: white;
    padding-right: 40px;
    padding-left: 40px;
}

@media (max-width: 480px) {
    #Zilon .card {
        padding-right: 10px;
        padding-left: 10px;
        width: 94%;
        height: 100%;
    }

    #Zilon .card-container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

#Zilon .verified-image {
    margin-top: 40px;
}

#Zilon .title {
    font-size: 20px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: var(--jade);
    padding-top: 20px;
}

#Zilon .text {
    font-size: 14px !important;
    text-align: center;
    color: var(--gray);
    padding-top: 12px;
}

#Zilon .list {
    padding-left: 0;
    margin-top: 25px;
}

#Zilon .list > li {
    list-style: none;
    border-bottom: 1px dashed var(--very-light-blue);
}

#Zilon .list > li:last-child {
    border-bottom: none !important;
}

#Zilon .list > li div.container {
    margin-top: 19px;
    margin-bottom: 19px;
}

#Zilon .list-label {
    font-size: 16px;
    line-height: 1.38;
    color: var(--bluey-grey);
}

#Zilon .list-text {
    font-family: Roboto-Medium;
    line-height: 1.38;
    text-align: right;
    color: var(--slate);
}

#Zilon .tooltip {
    position: relative;
    display: inline-block;
}

#Zilon .tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

#Zilon .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#Zilon .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#Zilon .copy-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#Zilon .copy-btn:focus {
    outline: none;
}
